<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/employee.css">
    <title>BigStock - Tienda</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo"><img src="../img/BigStock_SinSlogan_SinFondo.png" alt=""></div>
            <div class="store-info">
                <span>BigStock - Tienda</span>
                <span>Empleado: Juan Perez</span>
            </div>
        </div>
        <div class="user-role">
            <span>Empleado</span>
        </div>
    </header>
    <main></main>
</body>
</html>