<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="icon" href="..//img/BigStock_icon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <title>login</title>
</head>

<body>
    <!-- CONTENT MAIN -->
    <main>
        <div class="container">
            <div class="tittle">
                <img src="../img/BigStock_SinSlogan_SinFondo.png" alt="">
                <span>Gestor de inventario inteligente</span>
            </div>
            <div class="content-cards">
                <div class="tittle-cards">
                    <span id="tittle"><i class="ti ti-user"></i>Iniciar Sesion</span>
                    <span id="description">Accerder a tu cuenta de BigStock</span>
                </div>
                <div class="login">
                    <div class="name_user flex gap text">
                        <label for="client">Usuario </label>
                        <input type="text" placeholder="juan.perez">
                    </div>
                    <div class="pass_user flex text">
                        <label for="client">Contraseña </label>
                        <input type="password" placeholder="********">
                    </div>
                    <span class="login-btn">Iniciar Sesion</span>
                    <span class="register-btn">¿No tiene cuenta?<a href="../templates/register.html">Registrate aquí</a></span>
                </div>
            </div>
        </div>
    </main>
</body>

</html>