<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/register.css">
    <link rel="icon" href="../img/BigStock_icon.ico">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
    <title>Register</title>
</head>

<body>
    <main>
        <div class="form-container">
            <div class="content">
                <div class="tittle">
                    <img src="../img/BigStock-white.png" alt="Logo BigStock">
                    <span id="description">Gestor de inventario inteligente</span>
                </div>
                <div class="content-form">
                    <span id="tittle">Crear una cuenta</span>
                    <div class="form-group">
                        <div class="user margin flex">
                            <label for="user">Usuario</label>
                            <input type="text">
                        </div>
                        <div class="name margin flex">
                            <label for="name">Nombre completo</label>
                            <input type="text">
                        </div>
                        <div class="email margin flex">
                            <label for="email">Correo</label>
                            <input type="email">
                        </div>
                        <div class="pass margin flex">
                            <label for="pass">Contraseña</label>
                            <input type="password">
                        </div>
                        <div class="confirm-pass margin flex">
                            <label for="confirm-pass">Confirmar contraseña</label>
                            <input type="password">
                        </div>
                        <div class="form-btn">
                            <span>Crear cuenta</span>
                        </div>
                        <div class="login-btn">
                            <span>¿Ya tienes una cuenta? <a href="../templates/login.html">Inicia sesion aquí</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>